<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Web Design</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <a href="index.html" class="logo" id="navbar">
          <i class="fa-brands fa-wolf-pack-battalion"></i>RedWolf Anime
        </a>
        <nav class="navbar">
          <a href="index.html">Home</a>
          <a href="templates/html/anime.html"  class="active">Anime</a>
          <a href="templates/html/Movies.html">Movies</a>
          <a href="templates/html/for-kids">For Kids</a>
          <a href="templates/html/family">Family</a>
        </nav>
        <div class="icons">
          <i class="fas fa-search" id="search-icon"></i>
          <i class="fas fa-heart" id="heart"></i>
          <i class="fa-solid fa-right-to-bracket" id="login" alt="Login"></i>
        </div>
      </header>
      <h1>
        Anime
      </h1>
</body>
</html>